# Virtual environment
venv/

# Environment variables
.env

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints (if you ever use notebooks)
.ipynb_checkpoints/

# Streamlit cache (optional)
.streamlit/

# VS Code settings (optional)
.vscode/

# Logs
*.log